<!-- <div style="background-color: white;"> 
    <div class="footer-div" *ngIf="negocio">
        <div class="info">
            <p>{{negocio.direccion}}, Argentina</p>
            <div style=" background-color: white;border-radius: 4px; display: flex;flex-direction: row;" *ngIf="negocio.facebook || negocio.instagram">
                <a href="https://www.facebook.com/{{negocio.facebook}}" target="_blank">
                  <button class="fa fa-facebook-square" style="font-size: 20px;margin-right: 10px;color: rgb(85, 172, 238); " ></button>
                </a>
                <a href="https://www.instagram.com/ {{negocio.instagram}}" target="_blank">
                  <button class="fa fa-instagram" style="font-size: 20px;margin-right: 10px; color: crimson;" ></button>
                </a>
                <a href="https://api.whatsapp.com/send?phone={{negocio.telefono}}" target="_blank" >
                    <button class="fa fa-whatsapp " style=" font-size:20px;color: #0ba124;"></button>
                </a>	
            </div>
        </div>
    </div>
</div> -->
