@import '../../generalStyles/generalStyles.scss';


 
.footer-div{
   border-top: 0.5px solid gainsboro;

   padding: 7px;
   margin: auto;
   .info{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      text-align: center;
   }
}


