@import '../../shared/styles/tipografias.scss';

 .conteiner-pedido{
  position: sticky;
  top: 30%;
  overflow-y: scroll;
  height: 380px;
  width: 460px;
  background-color: white;
	padding: 2%;
  margin: 10% 5% 5% 5%;
  border-radius: 10px;
  box-shadow: 0px 10px 10px -6px gainsboro;

  .back{
    display: none !important;
    right: 10px;
    bottom: -110%;
    font-size: 30px;
    width: 45px;
    height: 45px;
    padding: 10px 10px 10px 10px;
    border: 1px solid $color-gris;
    color: $dark;
    background-color: white;
    cursor: pointer;
    border-radius: 10px ;
    display: none;
  }
  .mensaje{
    text-align: center;
    margin-top: 10% !important;
  }
  .buttonsLaterales{
    margin-top: 20%; 
    text-align: center;    
    .fa-shopping-cart{
      color: $verde;
      font-size: 30px;
      width: 65px;
      height: 65px;
      padding: 10px 10px 10px 10px;
      border: 1px solid $color-gris;
      background-color: white;
      border-radius: 10px ;
    }   
  }
  .btn-success{
    width: 90%;
    border-radius: 30px;
    background-color: $dark;
    margin-left: 5%;
    border: none;
  }
  .scroll{
    .list-card{
        width: 100%;
        margin: auto;
        border-radius: 20px;
        background-color: white;
        padding: 1%;
        margin-bottom: 3%;
        .info-derecha{
          width: 80%;
          margin-left: 7%;
          .boton-eliminar{
            background: none;
            border: 1px solid $color-gris;
            height: 40px;
            width: 40px;
            border-radius: 100%;
          }
        }
    }
  }
}

 @media only screen  
  and (min-width : 600px)  
  and (max-width : 1180px) { 
    .conteiner-pedido{
      top: 10%;
      margin-top:60px;
      position: none;
      overflow-y: auto;
      height: 65%;
      width: 90%;

      .back{
        display: block !important;
      }
    }
  }
	/* Smartphones (portrait and landscape) ----------- */  
  @media only screen  
  and (min-width : 320px)  
  and (max-width : 680px) {  
  /* Styles */  
    .conteiner-pedido{
      top: 10%;
      margin-top:60px;
      position: none;
      overflow-y: auto;
      height: auto;
      width: 90%;
      .back{
        display: block !important;
      }
      .imagen-pedido{
        height: 80%; width: 80%;border-radius: 40px
      }
        padding: 8%;
        .list-card{
          width: 99%;          
          margin: auto;
          margin-top: 7%;
          margin-bottom: 10%;
        }
    }		
  }  