<div class="conteiner-pedido">
  <div style="display: flex; flex-direction: row; margin-left: 2%;">
    <div (click)="back()">
      <button class="back fa fa-chevron-left"></button>
    </div>
  </div>
  <p class="mensaje">Su carrito tiene {{_service.total}} productos!</p><hr>
  <div *ngIf="_service.total==0" class="buttonsLaterales">
    <button class="fa fa-shopping-cart" ></button>
  </div>
  <div class="scroll">
    <div class="list-card" class="list-card" *ngFor="let p of _service.order; let i=index" >
      <div class="info-derecha">
        <div class="info">
          <h4 style="text-transform: uppercase;">Producto:</h4>
          <p >{{p.categorias}}</p>
          <p >{{p.subtitulo}}</p>
          <h3>{{p.titulo}}</h3>
          <p>codigo: {{p.codigo_producto}}</p>
          <p>Cantidad:{{p.cantidad}}</p>
          <p>$ {{p.precio*p.cantidad}}</p>
          <br>
          <div class="list-card-botones" >
                    <button class="boton-eliminar" (click)="eliminar(i)">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    <button class="boton-eliminar" (click)="sumar(i)">
                      <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                    </button>
                    <button class="boton-eliminar" (click)="restar(i)">
                      <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                    </button>
          </div> 
        </div>
      </div>
      <br><hr>
    </div> 
  </div>
  <div *ngIf="_service.total!=0" (click)="finalizarPedido()">
    <button class="btn btn-success" *ngIf="_service_metodos.negocio.whatsap_pedidos; else aguarde">Finalizar</button>
  </div>   
  <ng-template #aguarde>Aguarde a ser atendido</ng-template>
     
</div>

