
  
<!--Filtros -->
<button type="button" class="btn-admin btn btn-danger" [routerLink]="['/protected/formulario']"  ><p>+ Producto</p></button>

<div class="product_base">  
        
        <form clas="form" #myForm="ngForm" >
                  <i for="menu" ngbTooltip="Filtros"
                  (click)="showFilters()" class="btn-filtros fa-sharp fa-solid fa-filter"></i>
                <div data-aos="slide-right" class="filterLeft" *ngIf="show">
                        <div class="input-group">
                                <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="featured" 
                                        id="featured" [(ngModel)]= "filter.Featured">
                                        <label class="form-check-label" for="featured">
                                                Destacados
                                        </label>
                                </div>
                        </div>
                        <div class="input-group">
                                <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="state" 
                                        id="featured" (ngModel)= "filter.State">
                                        <label class="form-check-label" for="state">
                                                Activos
                                        </label>
                                </div>
                        </div>
                        <hr>

                        <div class="input-group">
                                <select class="custom-select"  #category (change)="setCategory(category.value)">
                                        <option value=""   selected="selected">Categorias</option>
                                        <option  *ngFor="let c of categories" [value]="c">{{c.Name}}</option>
                                </select>
                        </div>
                        <div class="input-group">
                                <select class="custom-select" #order (change)="setOrder(order.value)" >
                                        <option selected>Oredanr por</option>
                                        <option value="1">Precio: Menor a mayor</option>
                                        <option value="2">Precio: Mayor a menor</option>
                                        <option value="3">A-Z</option>
                                        <option value="4">Z-A</option>
                                </select>
                        </div>
                        
                </div>   
        </form>
            
         <div class="products_rigth">                      
                <!--Productos -->
                <div *ngFor="let p of products " >
                        <div class="productCard_block" >
                                <div class="productCard_rightSide">
                                    <div class="block_specification__informationShow hide" *ngIf="p.Featured">
                                                        <i class="fa-sharp fa-solid fa-star block_specification__button block_specification__button__jump"
                                                                aria-hidden="true" style="color: rgb(204, 255, 0); margin-right:5px;"></i>
                                                        <span class="block_specification__text" >Destacado!</span>
                                    </div>
                                    <div class="block_specification__informationShow hide" *ngIf="p.DiscountAmount!=null">
                                                        <i class="fa-duotone fa-badge-percent" style="color: #f1425d; margin-right:5px;"></i>
                                                        <span class="block_specification__text">p.Discount</span>
                                    </div>
                                    <div class="sliderBlock_items__itemPhoto ">
                                            <img  [src]="'assets/' +  p.ImageName">
                                    </div>                                                             
                                    <div class="block_product">
                                                        <p class="block_model">
                                                                <span class="block_model__number">{{p.MarcaName}}</span>
                                                        </p>
                                                        <p class="block_model">
                                                                <span class="block_model__number">{{p.CategoryName}}</span>
                                                        </p>
                                                        <h2 class="block_name block_name__mainName">{{p.Name}}<sup>&reg; </sup></h2>
                                                        <h2 class="block_name block_name__addName">{{p.Description}}</h2>      
                
                                                        <div class="block_price" >
                                                        <!-- <p class="block_price__currency_old" *ngIf="descuento">{{p.Price}}</p> -->
                                                        <p *ngIf="p.Discount==null"  class="block_price__currency">$ {{p.Price}}</p>
                                                        <p *ngIf="p.Discount!=null"  class="block_price__currency" style="text-decoration:line-through;">$ {{p.Price}}</p>
                                                        <p *ngIf="p.Discount!=null" class="block_price__shipping"> $ {{p.PriceWithDiscount}}</p>
                                                        </div>
                                                        <button class="btn btn-info" *ngIf="!isLogin()">
                                                                Add to Cart
                                                        </button>   
                                                        <div class="btns-edit-prod" *ngIf="isLogin()" >
                                                                <button class="btn btn-info" (click)="edit(p.ProductId)" 
                                                                [routerLink]="['/protected/formulario']" style="margin-right: 2%">
                                                                        Editar
                                                                </button> 
                                                                <button class="btn btn-danger" (click)="eliminar(p)">
                                                                        Eliminar
                                                                </button> 
                                                        </div>                                       
                                    </div>
                                </div>
                        </div>
                </div>
                <br><br>
                <div class="pagination">
                <!--Paginacion -->
                        <select class="custom-select"  name="order" [(ngModel)]= "itemsPerPage" >
                                <option [value]="1">20</option>
                                <option [value]="2">30</option>
                                <option [value]="3">50</option>
                        </select>
                        <div class="pagination_buttons">
                                <div class="page-item"><i class=""  (click)="pagination(currentPage - 1)" 
                                        style="cursor: pointer;color:grey" class=" page-link fa-sharp fa-solid fa-arrow-left"></i></div>      
                                <div class="page-item" *ngFor="let page of pages">
                                       <p class="page-link" (click)="pagination(page)">{{page}}</p>
                                </div>
                                <div class="page-item" *ngIf="totalPage>pages.length" (click)="pagination(pages[pages.length-1]+1)">
                                        <p  class="page-link" >...</p>
                                </div>
                                <div class="page-item"><i class=""  (click)="pagination(currentPage + 1)" 
                                        style="cursor: pointer;color:grey" class=" page-link fa-sharp fa-solid fa-arrow-right"></i></div>
                        </div>
                        
                </div> 
                
        </div>    
</div>

