
<div class="menu-collapse"data-aos="slide-left">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Carrito</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" 
    (click)="onCloseModal()"
    style="margin-right: 10px;"></button>
  </div>
  <div class="container text-center" *ngFor="let p of _serviceOrder.order; let i=index">
    <div class="row" style="margin: auto;">
      <div class="col-md-4">
        <div class="sliderBlock_items__itemPhoto ">
          <img *ngIf="p.nameImage != ''"  class="viewImg" [src]="'assets/' + p.productId + '/'+ p.nameImage ">
          <img *ngIf="p.nameImage == ''" src="assets/camara.png">
        </div>  
      </div>
      <div class="col-md-5">
        <div class="info-derecha">
          <div class="info">
            <p>{{p.marcaName}}</p>
            <h3 style="margin: 0px;">{{p.name}}</h3>
            <p *ngIf="p.discount==null"  class="block_price__currency">$ {{p.price}} x unid</p>
            <div class="prices" *ngIf="p.discount!=null">
               <p  class="block_price__currency" style="text-decoration:line-through;">$ {{p.price}}</p>
               <p  class="block_price__currency" style="color:black">$ {{p.priceWithDiscount*p.count}} x {{p.count}}</p>
            </div>
            <br>
          </div>
          <div *ngIf="!goPayShow" class="list-card-botones" >
            <button class="boton_car" (click)="sumar(i)">
              <i class="fa-sharp fa-solid fa-plus"></i>
            </button>
            <button class="boton_car" (click)="restar(i)">
              <i class="fa-sharp fa-solid fa-minus"></i>
            </button>
          </div> 
        </div>
      </div>
      <div *ngIf="!goPayShow" class="col-3">
        <i class="fa-sharp fa-solid fa-trash" (click)="eliminar(i)"></i>
      </div>
    </div>
  </div>
  <div class="footer_car">
    <div class="col">Cantidad Unidades {{_serviceOrder.total}}</div>
    <div style="margin:10px" class="col total">Total compra {{_serviceOrder.totalFact}}</div>
  </div>
  <div class="msjCar" *ngIf="_serviceOrder.order.length==0"> Su carrito esta vacio</div>
  <hr>

  <div class="card">
    <div class="card-header">
      <h5 class="card-title"><i class="fa-sharp fa-solid fa-truck"></i> Para el Envio comuniquese con el vendedor</h5>
    </div>
    <div class="card-body">
      <div class="row">    
        <h5 class="col-md-6">Retiro en Local y Envios a CABA</h5>
        <h5 class="col-md-4">Gratis</h5>
      </div>
      <div class="row">    
        <h5 class="col-md-6">Envios Bs As o Interior</h5>
        <h5 class="col-md-4">Consultar</h5>
      </div>
      <br>
  </div>
  <button *ngIf="_serviceOrder.order.length!=0 && !goPayShow" style="display: block;margin: auto;" class="btn btn-warning" (click)="procesPayment()">Procesar</button><br><br>
  <div *ngIf="goPayShow">
    <div class="alert alert-primary" role="alert">
        Luego de su pago contactese con el vendedor por whatsapp para la entrega del producto
    </div>
    <a class="btn btnPay btn-success" [href]="goPay" target="_blank">Pagar</a>
    <button class="btn btnPayCancel btn-dark" (click)="cancelPayment()">Cancelar</button>

  </div>
    
</div>
