@import '../../generalStyles/generalStyles.scss';

.menu-collapse{
  position:fixed;
  top:0;
  right: 20px;
  z-index: 999;
  margin-left: 20px;
  width: 50%;
  max-height: 90%;
  box-shadow: 0 5px 21px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 5px;
  border-radius: 10px;
  overflow-y: auto;
  overflow: overlay;
  padding-bottom: 20px;

}
.offcanvas-header{
  background-color: $red;
  padding: 15px;
  h5{
    font-size: 20px;
    color: whitesmoke;
  }
}
.container{
  padding: 1.5rem;
}
.sliderBlock_items__itemPhoto{
  margin-bottom: 3%;
  width: 100% !important;
  height: 35% !important;
  background-color: white;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;

  }
}

button.boton_car{ 
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  background: none !important;
}
.list-card-botones{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 20px;
  width: 50%;
  margin: auto;
  padding: 3px;
  border: 1px solid grey;
}
.footer_car{
display: flex;
flex-direction: row;
}
.msjCar{
  padding: 75px;
  margin: auto;
  text-align: center;
}
.row{
  margin-bottom:10px;
}
.fa-truck{
  font-size: 25px;
  color: grey;
}
.card{
  border: 0px;
}
.total{
  background-color: $red;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.btnPay{
  display: block;
  text-align: center;
  background-color: $red;
}
.btnPayCancel{
  color: white;
  display: block;
  text-align: center;
  width: 100%;
}

 @media only screen  
  and (min-width : 600px)  
  and (max-width : 1180px) { 
    .menu-collapse{
      width:80%;
    }
   
  }
	/* Smartphones (portrait and landscape) ----------- */  
  @media only screen  
  and (min-width : 320px)  
  and (max-width : 680px) {  
    .menu-collapse{
      width: 90%;
    }
  /* Styles */  
   
  }  