@import '../../generalStyles/generalStyles.scss';


.contenedor-galeria{
  // margin: 5%;

  #carousel {
      padding: 0px;
      width: 100%;
      height: auto;
      white-space: nowrap;
      margin: auto;
      .cont_carrousel{
        display: flex;flex-direction:row;
        justify-content: center;
      }
      overflow-x: auto;

  }
}
.btn-light{
  border: 1px solid gainsboro;
  border-radius: 20px;
  font-size: 1.1rem;
  background-color: $white_verde;
  color: $negro;
  margin-right: 5px;
}
.btn-light:hover{
  background-color: $amarillo;
  color: white;
}

.contenedor_titulo{
  width: 100% !important;
  .imagedesk{
    display: block;
  }
  .imagephone{
    display: none !important;
    width: 80%;
  }
}

.p1{
  display: block !important;
    img{
      background-size:     cover;                      /* <------ */
      background-repeat:   no-repeat;
      background-position: center center;   
    }
}
.p2{
  display: none !important;
}
  @media only screen  
  and (min-width : 265px)  
  and (max-width : 680px) { 
    .p1{
      display: none !important;
    }
    .p2{
      display: block !important;
    }
    .contenedor-galeria{
      margin-top:2rem !important;
      margin-bottom: 4rem !important;
      #carousel {
        margin-bottom: 20px;
        .cont_carrousel{
              display: inline-block;
              width: 100%;
              margin-left: 2.5rem ;
              .btn-light{
                margin-bottom: 10px;
              }
          }
          overflow-x: hidden;
          overflow-y: auto;
      }
    }
    .contenedor_titulo{

      .imagedesk{
        display: none;
      }
      .imagephone{
        display: block !important;
      }
    }
    .container-fluid{
      height: 80% !important;
    }
  }

 

  @media only screen  
  and (min-width : 680px)  
  and (max-width : 1200px) { 

    .contenedor-galeria{

      #carousel {

          overflow-x: auto;
          overflow-y: hidden;
      }
    }

    .contenedor_titulo{
      .imagedesk{
        display: none !important;
      }
      .imagephone{
        display: block !important;
      }
    }

  }
  


