@import '../../generalStyles/generalStyles.scss';

.contenedor_titulo{
  background-color: $verde-amarillo;
  h3{
    color: $negro;
  }
}
.contenedor-galeria{
  margin: 5%;

  #carousel {
      padding: 3% 0% 3% 0%;
      width: 100%;
      height: auto;
      white-space: nowrap;
      overflow-x: auto;
      margin: auto;
  }
}
// .carousel-inner{
//   height: 60vh
// }
// .textBtn{
//   color: $red;
//   text-decoration: none;
//   font-weight: 600;
//   font-size: 1.5rem;
//   margin-right: 2.3rem;
//   text-transform: uppercase;
// }


  @media only screen  
  and (min-width : 280)  
  and (max-width : 680px) { 
    .carousel-inner{
      height: 30vh !important
    }
    .espacio{
      height: 130px;
    }
    .base_home{
      display: flex;
      flex-direction: row;
      .lateral_izq{
        display: none;
      }
      .lateral_der{
        width: 100%;
      }
    }
    .contenedor-galeria{
      margin-top:1%;
      margin-bottom: 1%;
      #carousel {
          div{
              display: inline-block;
              width: 40%;
              margin-right: 1%;
          }
      }
  }
  }

  @media only screen  
  and (min-width : 680px)  
  and (max-width : 1200px) { 
    .carousel-inner{
      height: 30vh !important
    }
    .espacio{
      height: 140px;
    }
    .base_home{
      display: flex;
      flex-direction: row;
      .lateral_izq{
        display: none;
      }
      .lateral_der{
        width: 100%;
      }
    }
  }
  


