
<app-cabecera-matizo></app-cabecera-matizo>
<!--  procentaje -->
<div class="bloque1">         
  <div class="form-group col-md-3">
    <!-- <label for="titulo">Porcentaje</label>
    <input maxlength="20" class="form-control" placeholder="Campo Obligatorio" 
    [(ngModel)]='pricePercent' 
    type="number" requerid > -->
  </div>  
  <!-- <button class="add"><p style="padding-top: 10px;" (click)="changePrice()" type="submit" >GUARDAR</p></button> -->
  <!-- <button class="add"><p style="padding-top: 10px;" (click)="clean()">CANCELAR</p></button> -->
</div>               

<main class="jumbotron" >
  <nav-admin></nav-admin>
  <lista-prod-admin></lista-prod-admin>
</main>
