@import '../../shared/styles/tipografias.scss';
  .fixed{
      position: fixed;
      z-index: 999;
      top: 0%;
      width: 99vw;
  }    
  .espacio{
    height: 140px;
  }

  @media only screen  
  and (min-width : 320px)  
  and (max-width : 480px) { 
    .espacio{
      height: 130px;
    }
  }

