<!-- <div class="fixed">
    <div class="cabecera">
        <cabecera-component *ngIf="_service_metodos.negocio"
        [negocio]="_service_metodos.negocio"
        ></cabecera-component>
    </div>
    <nav class="nav-component">
        <nav-component
        *ngIf="_service_metodos.negocio"
        [negocio]="_service_metodos.negocio"
        ></nav-component>   
    </nav>
</div>
<div class="espacio"></div>
<div class="base_home" >
    <div class="lateral_izq">
        <ver-pedido></ver-pedido>
    </div>
    <div class="lateral_der">
        <router-outlet></router-outlet>
        <app-galeria *ngIf="_service_metodos.negocio"></app-galeria>
    </div>
</div>
<footer class="footer" style="position: fixed; bottom: 0px; width: 100%;">
    <app-footer
    *ngIf="_service_metodos.negocio"
    [negocio]="_service_metodos.negocio"
    ></app-footer>
</footer> -->
