  <!--  Formulario cargar product -->
  <div class="conteiner2" >
    <div class="card">
      <div class="modal-header">
        <h5 class="modal-title">Sus Descuentos</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="onCloseModal()" >X</button>       
      </div>
      <div class="card-body" >
          <form [formGroup]="uploadForm" #form>
            <div class="bloque1"> 

              <div class="form-group col-md-12">
                <label for="titulo">Porcentaje</label>
                <input type="text" class="form-control" placeholder="Campo Obligatorio" [value]="" 
                formControlName="Amount" [ngClass]="{'is-invalid': submitted && f.Amount.errors}" >
                <span style="font-size: 13px;">Solo numeros enteros</span>
              </div>
              <div *ngIf="submitted && f.Amount.errors" class="invalid-feedback">
                <div *ngIf="f.Amount.errors.required"> Por favor ingrese datos</div>
              </div>      
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="onSubmit()" style="margin-right: 5px;">Guardar</button>
          <button type="button" class="btn btn-secondary" (click)="onCloseModal()" data-dismiss="modal">Cancelar</button>
        </div> 
    </div>
</div>