<footer class="site-footer" style="padding-bottom: 0%;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6" >
          <h6>Mundo Pañal</h6>
          <p class="text-justify" style="color:gainsboro">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
          <div class="contact_icons">
            <!-- <div class="mapa">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13132.346738128239!2d-58.520116349999995!3d-34.627249649999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1670511112796!5m2!1ses-419!2sar" width="250" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            
              <br><i class="fa-sharp fa-solid fa-location-dot" style="margin-top: 10px; font-size: 1rem; display: block;text-align: center;"></i><p style="text-align: center; color:black">Sastre 456 CABA, Argentina</p> 
            </div>          -->
        </div>
        </div>
        <div class="col-xs-6 col-md-1" >
        </div>
        <div class="col-xs-6 col-md-3">
          <h6>Contactanos</h6>
          <ul class="icons">
            <li class="list-group-item"><i class="fa-sharp fa-solid fa-phone"></i> 1144256365</li>
            <li class="list-group-item"><i class="fa-brands fa-facebook"></i> Facebook</li>
            <li class="list-group-item"><i class="fa-brands fa-instagram"></i> Instagram</li>
            <li class="list-group-item"><a href="https://api.whatsapp.com/send?phone=numero&text=mensaje"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-md-2">
          <h6>Navegacion</h6>
          <ul class="footer-links">
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/productos/lista-productos']">Productos</a></li>
            <li><a href="#">Envios</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
      </div>
      <hr style="border: 1px solid black;margin-top:1.5rem">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12" style="justify-content: end;">
          <p class="copyright-text" style="color:black">Copyright &copy; 2022 All Rights Reserved by 
            <a href="#">Matizo</a>.
          </p>
        </div>
      </div>
    </div>
</footer>
