<br><br><br><br>
<footer class="site-footer" style="padding-bottom: 0%;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6" >
          <h2>Mundo Pañal</h2>
          <p class="text-justify" >
          Pañalera Colores, un mundo para la familia, con la mejor atención y calidad. Nos respalda un largo recorrido en el mercado y un extenso conocimiento del mismo.
          </p>
          <img style="width: 25%; border-radius: 20px; margin-top: 35px;" src="assets/C.jpg" alt="">
        </div>
        <div class="col-xs-6 col-md-1" >
        </div>
        <div class="col-xs-6 col-md-3">
          <h2>Contactanos</h2>
          <ul class="icons">
            <li class="list-group-item"><i class="fa-sharp fa-solid fa-phone"></i> 1123233449</li>
            <li class="list-group-item">
              <a target="_blank" style="text-decoration: none;" href="https://www.facebook.com/profile.php?id=100090782667953">
                <i class="fa-brands fa-facebook"></i> Facebook
              </a>
            </li>
            <li class="list-group-item"><a target="_blank" style="text-decoration: none;" href="https://www.instagram.com/panialeracolores/"><i class="fa-brands fa-instagram"></i>   Instagram</a></li>
            <li class="list-group-item"><a target="_blank" style="text-decoration: none;" href="https://api.whatsapp.com/send?phone=1123233449&text=Hola!!"><i class="fa-brands fa-whatsapp" ></i>    Whatsapp</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-md-2">
          <h2>Navegacion</h2>
          <ul class="footer-links">
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/productos/lista-productos']">Productos</a></li>
            <!-- <li><a href="#">Envios</a></li> -->
            <li><a [routerLink]="['/contacto']">Contacto</a></li>
            <li><a [routerLink]="['/login']">Login</a></li>
          </ul>
        </div>
      </div>
      <hr style="border: 1px solid black;margin-top:1.5rem">
    </div>
    <div class="container" >
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12" style="justify-content: end; padding-bottom: 25px;">
          <p class="copyright-text" style="color:black; text-align: center;">Copyright &copy; 2022 All Rights Reserved by 
            <a href="#">Matizo</a>.
          </p>
          <p class="copyright-text" style="color:black; text-align: center;"> glaraanabelperez@gmail.com
          </p>
        </div>
      </div>
    </div>
</footer>
