@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

$font:  'Quicksand', sans-serif;
$font-tamanio-botones:12px;
$gris:#fafbf9;
$blanco:#ffffff;
$verde-amarillo:#b8f864;
$verde:#0dc164;
$red:#dc3545;
$font-tamanio-botones:12px;
$negro:#898989;

* {
  font-size: 15px;
  font-family: $font;
  letter-spacing: 1px;
}

.row{
  display: flex;
  flex-direction: row;
}
//-----------------------------TIPOGRAFIAS
.tituloPrincipal{
  font-size: 3rem;
}

h1{
    font-size: 1.6rem;
    padding: 10px 0px 0px 0px;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
 }

 h2{
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.1pc;
}

h3 {
	font-size: 1em;
  overflow-wrap: break-word;
  color: $red;
}

h4 {
	font-size: 1em;
  overflow-wrap: break-word !important;
}

p{
	margin: 0% !important;
  width: 100%;
  overflow-wrap: break-word !important;
}
.p-fondo{
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

span{
  font-size: 1rem;
}
.contenedor_titulo{
  background-color: $red;
  margin-top: 5%;
  margin-bottom: 1%;
  padding: 1%;
  h3{
      color: whitesmoke;
      text-align: center;
      text-transform: uppercase;
  }
}
 .btn-filtros{
  border: $red 1px solid;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  padding: 0.6rem;
  cursor: pointer;
  font-size: 17px;
  color: $red;
}
.btn-success{
  background-color: $verde;
  border: $verde;
}

 //-----------------------------FIN BANNERS
 //-----------------------------MEDIA @QUERY
@media only screen and (max-width: 1024px) and (min-width: 764px) {
}
 //-----------------------------MEDIA @QUERY
@media only screen and (max-width: 760px) and (min-width: 300px) {
  h1{
    font-size: 17px;
  }

}
@media only screen and (max-width: 1024px) and (min-width: 760px) {


}