@import '../../generalStyles/generalStyles.scss';

    .card{
        width: 18rem;margin: auto; width: 50%;
        img{
            width: 50%;
            margin: auto;

        }
    }



@media screen and (min-width: 280px) and (max-width: 768px) {
    .form{
        width: 100%;
        margin: auto;
        padding: 3%;
        .form_div{
            width: 100%;
            margin: auto;
        }
    }
    .rowCard{
        display: flex;
        flex-direction: column !important;
    }
}