<div >
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#F5D224" opacity="1" d="M0,288L120,282.7C240,277,480,267,720,261.3C960,256,1200,256,1320,256L1440,256L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>

      <div class="card" style="margin-bottom: 4%;" >
        <!-- <img class="card-img-top" src="assets/C.jpg" alt="Card image cap" > -->
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.1481920573297!2d-58.42625594988253!3d-34.5751166633951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb59be38de989%3A0xdbd0fb65816ae8b9!2sSanatorio%20de%20La%20Trinidad%20Palermo!5e0!3m2!1ses-419!2sar!4v1678990127998!5m2!1ses-419!2sar" width="400" height="350" style="border:0;  border-radius: 20px; margin: auto;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

</div>
