@import '../../../generalStyles/generalStyles.scss';

.btn-admin{
  position: absolute;
  right: 15px;
  top:230px;
  display: flex;
  flex-direction: column;
  width: 7.2rem;
  text-align: center;
}
.form-check-label{
  font-size: 1rem !important;
}

.input-group{
  margin-top: 20px;
  width: 99%;
}

.input-group-order{
  position: absolute;
  right:5%;
  top:30%;
  margin-top: 20px;

}

.page-item{
  list-style: none;
}
.btns-edit-prod{
  text-align: center;
  padding: 5% 5% 5% 5%;
  .btn{
    width: 85px !important;
    margin-bottom: 2px !important;
    margin-right: 2px !important;

  }
}



/*********************************************/
  /*COLORS*/
/*********************************************/
$colorBlue: #536dfe;
$colorBlueLight: #536dfe;
$colorBlueLighter: #6891fe;
$colorBlueDark: #0d2660;
$colorRaspberry: #f1425d;
$colorBackground: #fff;


form {
  width: 15% !important;
  background-color: #e9ecef;
 
  label{
    font-size: 1rem;
  }
}
body {
  font-weight: 400;
  font-size: 1rem;
  min-width: 320px;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.product_base{
  display: flex;
  flex-direction: row;
}
.products_rigth{
  width: 75%;
  margin-left: 1%;
  margin-right: 3%;
  padding: 2%;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
}

.productCard_rightSide {
  padding: 3%;
  max-width: 100%;
  min-height: 300px;
  box-shadow: 0 5px 21px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 5px;
}
.productCard_rightSide:nth-child(5) {
  grid-column-start: 2;
}

.sliderBlock_items__itemPhoto{
  margin-bottom: 3%;
}

  .block_model {
    display: inline-block;
    color: #263238;
    font-size: 12px;
    //line-height: 35px;
    opacity: 0.9;
  }

  .block_name {
    width: 100%;
    color: #263238;
    font-weight: 400;
    line-height: 35px;

    &__mainName {
      margin: 0;
      padding: 0;
      font-size: 19px;
    }
    &__addName {
      margin: 0;
      padding: 0;
      font-size: 19px;
    }
  }

  //////// PRICE

  .block_price {
    text-align: center;
    margin-top: 29px;
    width: 100%;
    &__currency {
      padding: 0;
      margin: 0;
      vertical-align: top;
      color: $colorRaspberry;
      font-size: 26px;
      font-weight: 600;
    }
    &__shipping {

      padding: 0;
      margin: 0;
      color: #A2A9AD;
      font-size: 12px;
    }
  }


  @media only screen and (max-width: 1100px) and (min-width: 200px) {
    form {
      width: 40vw !important;
      margin-bottom: 15%;
    }
    .products_rigth{
      width: 90vw !important;
      margin: 0% !important;
      padding: 2%;
      display: flex !important;
      flex-direction: column !important;
      grid-template-columns: none !important;
    }
    .productCard_rightSide {
      max-width: 100% !important;
    }
  }

  
@media only screen and (max-width: 600px) and (min-width: 200px) {
  form {
    width: 90vw !important;
    margin-bottom: 15%;
  }
  .product_base{
    display: flex;
    flex-direction: column !important;
  }
  .products_rigth{
    width: 90vw !important;
    margin: 0% !important;
    padding: 2%;
    display: flex !important;
    flex-direction: column !important;
    grid-template-columns: none !important;
  }
  .btn-admin{
    position: relative !important;
    margin-bottom: 1rem;     
    top: 0px;   
  }

}


