table.table{
  text-align: center;
  margin: 5%;
  background-color: whitesmoke;
  margin: auto;
  width: 100%;
}
.card{
  .modal-header{
    margin-bottom:3rem ;
  }
  width: 60%;
  padding: 2%;
  margin: auto;
}