
<app-cabecera></app-cabecera>
<div class="specewhite"></div>

<div class="contenedor-app">
    <order-list *ngIf="getShowModal()" (closeModal)="closeModal()"></order-list>
    <div class="rooter">
        <router-outlet></router-outlet>
        <div class="icons_rigth">
            <i data-aos="fade-up" class="fa-solid fa-circle-arrow-up subir" (click)="subir()"></i>   
        </div>
        <div  class="redes icons">
            <a style="margin-left: 15px;" class="list-group-item"><i class="fa-brands fa-facebook"></i></a>
            <a class="list-group-item"><i class="fa-brands fa-instagram"></i></a>
            <a class="list-group-item"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </div>
</div>
<app-footer></app-footer>
