@import './shared/styles/tipografias.scss';

.contenedor-app{
    .fixed{
        position: fixed;
        z-index: 999;
        top: 0%;
    }    
    .espacio{
        height: 170px;
    }
    .footer{
        height: 90vh;
    }
    .subir{
        color: gray;
        font-size: 35px;
        position: fixed; right: 10%; bottom: 7%; z-index: 999;
        cursor: pointer;
    }

}
@media (max-width : 667px) {
    .espacio{
        height: 170px !important;
    }
}
@media only screen  
and (min-width : 768px)  
and (max-width : 1024px) {  
    .espacio{
        height: 170px !important;
    }
}



