<div *ngIf="loadingService.loading" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
<div class="contenedor_titulo">
    <h3>LOS DESTACADOS DE ESTE MES</h3>
</div>
<div class="contenedor-galeria">
    <div id="carousel">   
        <div *ngFor="let p of destacada" >
            <div class="contenedor-card">
                <div class="foto-destacada" *ngIf="p.ImageName; else photo">
                    <img  [src]="'assets/'+ p.ImageName" >
                </div>
                <ng-template #photo>
                    <div class="foto-destacada" >
                        <img  [src]="'assets/camera.jpg'" >
                    </div>
                </ng-template>
                <div class="info">
                    <!-- <p>Categoria {{p.CategoryName}}</p> -->
                    <h4 class="titulo-tarjeta">{{p.Name}}</h4>
                    <p style="font-weight: 600;">{{p.MarcaName}}</p>
                    <!-- <p class="promocion">{{p.Description}}</p> -->
                    <p *ngIf="p.DiscountAmount==null"  class="block_price__currency">${{p.Price}}</p>
                    <p *ngIf="p.DiscountAmount!=null" class="block_price__currency" style="text-decoration:line-through;"> ${{p.Price}}   </p>
                    <p *ngIf="p.DiscountAmount!=null"  class="block_price__currency" style="color:#2F7BB2;font-weight: 600; font-size: 1.1rem;"> ${{p.Price - (p.Price * p.DiscountAmount /100)}}</p>
                    <p *ngIf="!p.Stock"  class="block_model" style="text-align:center;"><span class="btn agotado btn-success">AGOTADO!</span></p>
                    <button *ngIf="p.Stock"   class="btn btn-outline-success" (click)="agregarPedido(p)">
                        <p>Agregar</p>
                    </button>  
                </div>
        </div>
    </div>
</div>
