<div *ngIf="loadingService.loading" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
<div class="contenedor_titulo">
    <h3>LOS DESTACADOS DE ESTE MES</h3>
</div>
<div class="contenedor-galeria">
    <div id="carousel">   
        <div *ngFor="let p of destacada" >
            <div class="contenedor-card">
                <div class="foto-destacada" *ngIf="p.ImageName; else photo">
                    <img  [src]="'assets/'+ p.ImageName" >
                </div>
                <ng-template #photo>
                    <div class="foto-destacada" >
                        <img  [src]="'assets/camera.jpg'" >
                    </div>
                </ng-template>
                <div class="info">
                    <p>{{p.MarcaName}}</p>
                    <p>Categoria {{p.CategoryName}}</p>
                    <h4 class="titulo-tarjeta">{{p.Name}}</h4>
                    <p class="promocion">{{p.Description}}</p>
                        <div class="block_price" >
                        <p *ngIf="p.DiscountAmount==null"  class="block_price__currency">${{p.Price}}</p>
                            <div *ngIf="p.DiscountAmount!=null" style="display:flex; flex-direction: row; width: 100%;">
                                <p  class="block_price__currency" style="text-decoration:line-through;">${{p.Price}}   </p> <br>
                                <p  class="block_price__currency" style="color:black"> ${{p.Price - (p.Price * p.DiscountAmount /100)}}</p>
                            </div>
                        <p *ngIf="!p.Stock"  class="block_model" style="text-align:center;"><span  class="block_model__number">AGOTADO!</span></p>
                            <button *ngIf="p.Stock"   class="btn btn-outline-success" (click)="agregarPedido(p)">
                                <p>Agregar</p>
                            </button>        
                        </div>
                </div>
        </div>
    </div>
</div>
