@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
$font:  'Quicksand', sans-serif;
$font-tamanio-botones:12px;
$color-gris:#eff0ee;
$color-gris-claro:rgb(239, 240, 238);
$color-amarillo:#b8f864;
$color-verde:#26d0ab;
$white: #F5F5F5;
$light: #e0dec9;
$verde: #2ae999;
$azul: #004182;
$azul-claro: #0a66c2;
$azul-turquesa: #378fe9;

$dark: #282928;
$border:1px solid gainsboro;

$font-tamanio-botones:12px;
$color-primary: #505e47;
$color-highlight: #3f8cff;
$color-fondo:rgb(226, 224, 197);


* {
  font-size: 15px;
  font-family: $font;
  letter-spacing: 1px;
}

.row{
  display: flex;
  flex-direction: row;
}
//-----------------------------TIPOGRAFIAS
.tituloPrincipal{
  font-size: 3rem;
}

h1{
    font-size: 1.6rem;
    color: $dark;
    padding: 10px 0px 0px 0px;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
 }

 h2{
  font-size: 1.4rem;
  color: $color-primary;
  font-weight: bold;
  letter-spacing: 0.1pc;
}

h3 {
	font-size: 1.2em;
  overflow-wrap: break-word;
}

h4 {
	font-size: 1em;
  overflow-wrap: break-word !important;
}

p{
	margin: 0% !important;
  width: 100%;
  overflow-wrap: break-word !important;
}
.p-fondo{
  font-size: 1.8rem;
  color: $white;
  font-weight: 500;
  text-transform: uppercase;
}

span{
  font-size: 1rem;
  color: $azul;
}

.titulo-secciones{
  color: $dark;
  font-weight: 600;
  margin-bottom: 0px;
  margin-left: 50px;
}

form {
      label{
        font-size: 0.8rem;
  }
}

.tituloTarjeta {
  margin-top: 5%;
   color: $verde;
   display: block;
   font-size: 1rem;
   text-transform: uppercase;
 }

 .subTituloTarjeta {
   margin:0%;
   color: $dark;
   display: block;
   font-size: 1.2rem;
   text-transform: lowercase;
 }

 .pTarjeta {
   margin:0%;
   width: auto;
   display: block;
   font-size: 0.9rem;
   font-weight: 500;
   letter-spacing: 1px;
   text-overflow: clip;
 }
 //-----------------------------FIN BANNERS
 //-----------------------------MEDIA @QUERY
@media only screen and (max-width: 1024px) and (min-width: 764px) {
  .tituloTarjeta {
    margin-top: 15%;
     color: $verde;
     display: block;
     font-size: 1rem;
     text-transform: uppercase;
   }
  
   .subTituloTarjeta {
     margin:0%;
     color: $dark;
     display: block;
     font-size: 1.8rem;
     text-transform: lowercase;
   }
  
   .pTarjeta {
     margin:0%;
     width: auto;
     display: block;
     font-size: 1.2rem;
     font-weight: 500;
     letter-spacing: 1px;
     text-overflow: clip;
   }
}
 //-----------------------------MEDIA @QUERY
@media only screen and (max-width: 760px) and (min-width: 300px) {
  h1{
    font-size: 17px;
  }

  .tituloTarjeta {
    margin-top: 15%;
     color: $verde;
     display: block;
     font-size: 1.4rem;
     text-transform: uppercase;
   }
  
   .subTituloTarjeta {
     margin:0%;
     color: $dark;
     display: block;
     font-size: 1.8rem;
     text-transform: lowercase;
   }
  
   .pTarjeta {
     margin:0%;
     width: auto;
     display: block;
     font-size: 1.2rem;
     font-weight: 500;
     letter-spacing: 1px;
     text-overflow: clip;
   }
}
@media only screen and (max-width: 1024px) and (min-width: 760px) {


}