

<div class="cabecera_fixed">
  <div class="contenedor-cabecera">
    <!-- <a routerLink="/login" target="_blank"  class="botonCabecera" >
        <i class="fa fa-user-circle" style="color: gainsboro;" aria-hidden="true"></i>
    </a> -->
  </div>
  <div class="logo2">
    <img  src="assets/imagenes-web/LOGO12.jpg" alt="logo Matizo" style="margin:auto;">
  </div>
<div class="searchShop">
  <!-- <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> -->
  <div class="icons_rigth">
    <!-- <a><i class="fa-brands fa-whatsapp"></i></a> -->
    <div style="cursor: pointer; margin-right: 20%;" (click)="setShowModalOrder()">
      <i class="fa-solid fa-cart-shopping" style="font-size: 30px;margin-right: 30px; color: black; float: right;" ></i>
      <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger"
      style="margin-right: 30px; float: right;">
        {{getTotal()}}
      </span>
    </div>
  </div>
</div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="showNav()" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" [style.display]="show ? 'block' : 'none'">
        <ul class="navbar-nav mr-auto">
          <li class="logo">
              <img  src="assets/imagenes-web/LOGO12.jpg" alt="logo Matizo">
          </li>
          <li class="nav-item " >
            <a class="nav-link" [routerLink]="['/home']" >Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/productos/lista-productos']">Productos</a>
          </li>       
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown1" role="button" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Marcas</a>
            <div class="dropdown-menu drop" aria-labelledby="navbarDropdown1" >
              <div *ngFor="let m of marcas">
                <a class="dropdown-item" [routerLink]="['/productos/lista-productos','marca', m.MarcaId]">{{m.Name}}</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Envios</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
          </li>
          <li class="nav-item">
              <a class="btn btn-success my-2 my-sm-0"  [routerLink]="['/productos/lista-productos', 'descuento' ]">Ofertas</a>
          </li>        
        </ul>
      </div>
  </nav>
</div>
    
