

<div class="cabecera_fixed" >
  <div class="contenedor-cabecera">
    <!-- <a routerLink="/login" target="_blank"  class="botonCabecera" >
        <i class="fa fa-user-circle" style="color: gainsboro;" aria-hidden="true"></i>
    </a> -->
  </div>

  <div class="shop">
    <!-- <a><i class="fa-brands fa-whatsapp"></i></a> -->
    <div class="shopCarr" (click)="setShowModalOrder()">
      <i class="fa-solid fa-cart-shopping" style="font-size: 30px;">
        <span class="position-absolute  translate-middle badge rounded-pill bg-danger">
          {{getTotal()}}
        </span></i>
      
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="showNav()" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div  class="redes icons">
        <a style="margin-left: 15px;" class="list-group-item"><i class="fa-brands fa-facebook"></i></a>
        <a class="list-group-item"><i class="fa-brands fa-instagram"></i></a>
        <a class="list-group-item"><i class="fa-brands fa-whatsapp" ></i></a>
    </div>
      <img class="logoNav"  src="assets/logo.jpg" alt="logo Mundo">
      <div class="collapse navbar-collapse" id="navbarSupportedContent" [style.display]="show ? 'block' : 'none'">
        <ul class="navbar-nav mr-auto" (click)="showNav()">
          <li class="nav-item " >
            <a class="nav-link" [routerLink]="['/colores']" >Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/productos/lista-productos']">Productos</a>
          </li>       
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown1" role="button" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Marcas</a>
            <div class="dropdown-menu drop" aria-labelledby="navbarDropdown1" >
              <a class="dropdown-item" [routerLink]="['/productos/lista-productos','marca', -1]">Todas</a>
              <div *ngFor="let m of marcas">
                <a class="dropdown-item" [routerLink]="['/productos/lista-productos','marca', m.MarcaId]">{{m.Name}}</a>
              </div>
            </div>
          </li>
          <!-- <li class="nav-item">
              <a class="nav-link" href="#">Envios</a>
          </li> -->
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
          </li>
          <li class="nav-item">
              <a class="btn btn-success my-2 my-sm-0"  [routerLink]="['/productos/lista-productos', 'descuento' ]">Ofertas</a>
          </li>        
        </ul>
      </div>
  </nav>
</div>
    
