@import '../../generalStyles/generalStyles.scss';

.cabecera_fixed{
    position: fixed;
    z-index: 999;
    background-color: white;
    width: 91%;
    border: 15px;
}
.redes{
    // color: #dc3545;
    background-color:rgb(248,249,250);
    border-radius: 10px;
    border: 1px solid gainsboro;
    padding: 5px;
    position: fixed; left: 2%; bottom: 16%; z-index: 999;
    cursor: pointer;
}
.icons{

    i{
        margin-right: 1rem;
        font-size: 1.8rem;
    }
    display: flex;
    flex-direction: row;
    .fa-whatsapp{
        color: rgb(26, 181, 57);
        font-size: 1.9rem;
    }
}
li.logo{
    width: 7%;
    margin: 5px 15px 0px 20px !important;
    img {
        width: 100%;
        background-size: cover;
    }
} 
.logo2{
    display: none;
} 
.contenedor-cabecera{
    z-index: 999;
    background-color: white;
    margin-top: 0%;
    width: 100%;
    font-size: $font-tamanio-botones;

    .botonCabecera{
        .fa-user-circle{
            font-size: 40px;
        }
        opacity: 0.5;
        padding: 5px;
        text-align: center;
        width: 15%;
        cursor: pointer;
        border: none;
    }
}
.searchShop{
display: flex;
flex-direction: row;
justify-content: flex-end;
margin-right: 1rem;
position:absolute;
top:45px;
right: 15px;
z-index: 999;
}
.navbar-nav{
    margin:auto;
}
.navbar {
    padding-top: 25px;
    // margin: 20px 0px 50px 10px !important;
    background-color: $blanco !important;
    border-bottom: 3px solid $gris !important;

    .nav-item {
        margin-right: 5rem;
    }
}

.btn-success{
    background-color: rgb(5, 221, 41);
}

.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
  }
   
  .dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
   
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }
  .drop{
    max-height: 200px;
    min-width: 50px;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
//   .icons_rigth{
//     display: flex;
//     flex-direction: row;
//     i{
//         margin-right: 20px;
//         font-size: 35px;
//         cursor: pointer;
//     }
//   }
@media (max-width : 1360px) { 
    .redes{display: none;}
    .nav-link{
        margin-left: 10px;
    }
}
/* Smartphones (portrait and landscape) ----------- */  
@media (max-width : 768px) {  
    li.logo{
       display: none;
    } 
    .logo2{
        display: block;
        text-align: center;
    } 
    .form-inline{
        display: none !important;
    }
    .contenedor-cabecera{
        display: block;
        width: 100vw;
        margin: 0%;
        .logo{
            width: 55%;
            img {
                width: 100%;
                background-size: cover;
            }
        }
        .titulo{
            width: 100%;
            font-size: 1.4rem;
            text-align: center;
        }
        .botonCabecera{
            .fa-user-circle{
                font-size: 60px;
            }
            background-color: rgb(249, 250, 249);
        }
    } 
    .searchShop{
        display: flex;
        flex-direction: column;
        justify-content: none;
        margin-right: 0px;
        top:50px;
        right: 30px;
        }
}  

@media only screen  
and (min-width : 768px)  
and (max-width : 1024px) {  
    .contenedor-cabecera{
        .logo{
            width: 30%;
        }
  
    }
} 
    
 