@import '../../shared/styles/tipografias.scss';

$white: #f5f5f5;
$blue: #03acac;
$amarillo:rgba(169, 214, 43, 0.822);
$dark: #6d6d6b;
$dark2: #1d1d0d;
$gris:rgba(26, 26, 25, 0.3);

.filterBase{
    width: 20%;
}
.inputMenu {
    display: none;
}
.showFilters{
    display: none;
}
  
.inputMenu:checked  ~.showFilters{
    display:block;
}

.input-group{
    margin-top: 20px;
    width: 99%;
}
form {
    label{
      font-size: 1.2rem;
    }
}


