@import '../../shared/styles/tipografias.scss';



.display-row{

    a {
        font-size: 1rem;
        color: black;
        text-align: center;
        text-decoration: none;
        padding-right: 3%;
    }
    a:hover {
        font-weight: 600;
    }
    a:focus{
        font-weight: 600;
      }
}


