@import '../../generalStyles/generalStyles.scss';

main{
    .fa-backward{
        cursor: pointer;
        position: absolute;
        left: 15%;
        top: 6.5rem;
        font-size: 25px;
        display: block;
    }
    .spinner-border{
        position: absolute;
        right: 40vw;
        width: 150px;
        height: 150px;
        z-index: 999;
        color: gray;
    }
    .menuAdmin{
        display: flex;
        flex-direction: column;
        width: 7.2rem;
        margin-bottom: 5px;
      }
    width: 100%;
    .jumbotron{
        margin-top: 5px !important;
        display: flex;
        flex-direction: row;

        .container2{
            width: 80%;
            border-radius: 20px;
            padding: 1%;
            display: flex;
            flex-direction: column;
            margin: auto;
            border-radius: 20px;
            .bloque1{
                display: flex;
                flex-direction: row;
            }
            .contenedorFila{
                display: flex;
                flex-direction: row;
            }
            .card-text{
                margin-right: 20px;
            }
        }
    }
}




@media only screen and (max-width: 1300px) and (min-width: 200px) {
    .menuAdmin{
        position: relative !important;
        top: 45% !important;
        display: flex;
        flex-direction: row !important;
        width: 100% !important;
        overflow-y: auto;
        scroll-behavior: auto;
        margin-bottom: 2rem;
        button{
            margin-bottom: 1rem;
            margin-right: 1rem;
        }
      }
    .conteiner1{
        width: 10%;
        display: flex;
        flex-direction: column;
        background: none;
        .buttonsLaterales{
            position: fixed;
            top: 90px;
            left: 0px;
            background-color: white;
            border-radius: 2% ;
            padding: 5% 1% 5% 1%;
            display: flex;
            flex-direction: column;
            box-shadow: 11px 11px 1px rgba(0, 0, 0, 0.3);
            z-index: 999;
            .fa{
                font-size: 20px;
            }
            button {
            background: none;
            outline: 0;
            border: 0;
            color: rgb(216, 241, 175);
            cursor: pointer;
          }
          button:hover{
            background-color: rgb(248, 239, 239);
          }
        }
    }
    .conteiner2{
        margin: auto;
        .card{
            margin:0px !important;

            .bloque1{
                display: flex;
                flex-direction: column;
            }
        }   
    } 
}


@media only screen and (max-width: 800px) and (min-width: 1024px) {

    div form{
        width: 100%;
    }
    .conteiner1{
        width: 10%;
        display: flex;
        flex-direction: column;
        background: none;
        .buttonsLaterales{
            position: fixed;
            top: 90px;
            left: 0px;
            background-color: white;
            border-radius: 2% ;
            padding: 5% 1% 5% 1%;
            display: flex;
            flex-direction: column;
            box-shadow: 11px 11px 1px rgba(0, 0, 0, 0.3);
            z-index: 999;
            .fa{
                font-size: 20px;
            }
            button {
            background: none;
            outline: 0;
            border: 0;
            color: rgb(216, 241, 175);
            cursor: pointer;
          }
          button:hover{
            background-color: rgb(248, 239, 239);
          }
        }
    }
    .conteiner2{
        margin: auto;
        .card{
            margin:0px !important;

            .bloque1{
                display: flex;
                flex-direction: column;
            }
        }   
    }     
}

