@import '../../shared/styles/tipografias.scss';
.contenedor-galeria{
    margin: 5%;
    .contenedor_titulo{
        background-color: white;
        margin-top: 5%;
        padding: 2%;
        border-radius: 10px;
    }
    #carousel {
        padding: 3% 0% 3% 0%;
        width: 100%;
        height: auto;
        white-space: nowrap;
        overflow-x: auto;
        margin: auto;
        div{
            display: inline-block;
            width: 30%;
            margin-right: 1%;
            .contenedor-card{
                width: 100%;
                height: 330px;
                display: flex;
                flex-direction: column;
                background-color: white;
                text-align: center;
                border-radius: 10px;
                .foto-destacada{
                    width: 100% !important;
                    height: 55% !important;
                    background-color: white;
                    img{
                        border-radius: 10px;
                        background-size: cover;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .info{
                    height: 50%;
                    width: 100%;
                    padding: 5%;
                    text-align: center;
                    margin: 0%;

                    .titulo-tarjeta{
                        text-transform: uppercase;
                        h4{
                            font-size: 1.3rem;
                        }
                    }
                    .subtitulo{
                        width: 100%;
                        word-wrap: break-word;
                    }
                    .promocion{
                        font-weight: 600;
                        width: 100%;
                        word-wrap: break-word;

                    }
                    .btn-outline-success{
                        margin-top: 5%;
                        width: 80%;
                        background-color: none;
                        border-radius: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 280px) and (max-width: 768px) {
    .contenedor-galeria{

        h3{
            margin-top: 1%;
            margin-left: 5%;
        }
        #carousel {
            div{
                display: inline-block;
                width: 99%;
                margin-right: 1%;
                .contenedor-card{
                    .info{
                        .titulo-tarjeta{
                            text-transform: uppercase;
                            font-size: 1.2rem;

                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {/* applied to lg also */
    .contenedor-galeria{
        margin-top:1%;
        margin-bottom: 1%;
        #carousel {
            div{
                display: inline-block;
                width: 40%;
                margin-right: 1%;
            }
        }
    }
    
}