<div class="contenedor-galeria">
    <div class="contenedor_titulo">
        <h3 class="titulo-tarjeta">Los destacados de este mes <span> Consultanos!</span></h3>
    </div>
    <div id="carousel">      
        <div *ngFor="let p of destacada" >
            <div class="contenedor-card">
                <div class="foto-destacada" *ngIf="p.nombreImagen; else photo">
                    <img  [src]="'assets/'+ p.nombreImagen" >
                </div>
                <ng-template #photo>
                    <div class="foto-destacada" >
                        <img  [src]="'assets/camara.png'" >
                    </div>
                </ng-template>
                <div class="info">
                    <h4 class="titulo-tarjeta">{{p.titulo}}</h4>
                    <p *ngIf="p.promocion!=null" class="promocion">{{p.promocion}}</p>
                    <p *ngIf="p.precio!=0">$ {{p.precio}}</p>
                    <button class="btn btn-outline-success" (click)="agregarPedido(p)">
                        <p>Agregar</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
