@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");
* {
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tituloPrincipal {
  font-size: 3rem;
}

h1 {
  font-size: 1.6rem;
  padding: 10px 0px 0px 0px;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.1pc;
}

h3 {
  font-size: 1.2em;
  overflow-wrap: break-word;
  color: #dc3545;
  font-weight: 600;
}

h4 {
  font-size: 1em;
  overflow-wrap: break-word !important;
}

p {
  margin: 0% !important;
  width: 100%;
  overflow-wrap: break-word !important;
}

.p-fondo {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

span {
  font-size: 1rem;
}

.titulo-secciones {
  font-weight: 600;
  margin-bottom: 0px;
  margin-left: 50px;
}

form label {
  font-size: 0.8rem;
}

.tituloTarjeta {
  margin-top: 5%;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
}

.subTituloTarjeta {
  margin: 0%;
  display: block;
  font-size: 1.2rem;
  text-transform: lowercase;
}

.pTarjeta {
  margin: 0%;
  width: auto;
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-overflow: clip;
}

.btn-filtros {
  border: #dc3545 1px solid;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  padding: 0.6rem;
  cursor: pointer;
  font-size: 17px;
  color: #dc3545;
}

@media only screen and (max-width: 1024px) and (min-width: 764px) {
  .tituloTarjeta {
    margin-top: 15%;
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .subTituloTarjeta {
    margin: 0%;
    display: block;
    font-size: 1.8rem;
    text-transform: lowercase;
  }
  .pTarjeta {
    margin: 0%;
    width: auto;
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-overflow: clip;
  }
}

@media only screen and (max-width: 760px) and (min-width: 300px) {
  h1 {
    font-size: 17px;
  }
  .tituloTarjeta {
    margin-top: 15%;
    display: block;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  .subTituloTarjeta {
    margin: 0%;
    display: block;
    font-size: 1.8rem;
    text-transform: lowercase;
  }
  .pTarjeta {
    margin: 0%;
    width: auto;
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-overflow: clip;
  }
}

.contenedor-galeria {
  margin: 5%;
}

.contenedor-galeria .contenedor_titulo {
  background-color: white;
  margin-top: 5%;
  padding: 2%;
  border-radius: 10px;
}

.contenedor-galeria #carousel {
  padding: 3% 0% 3% 0%;
  width: 100%;
  height: auto;
  white-space: nowrap;
  overflow-x: auto;
  margin: auto;
}

.contenedor-galeria #carousel div {
  display: inline-block;
  width: 30%;
  margin-right: 1%;
}

.contenedor-galeria #carousel div .contenedor-card {
  width: 100%;
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  text-align: center;
  border-radius: 10px;
}

.contenedor-galeria #carousel div .contenedor-card .foto-destacada {
  width: 100% !important;
  height: 55% !important;
  background-color: white;
}

.contenedor-galeria #carousel div .contenedor-card .foto-destacada img {
  border-radius: 10px;
  background-size: cover;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contenedor-galeria #carousel div .contenedor-card .info {
  height: 50%;
  width: 100%;
  padding: 5%;
  text-align: center;
  margin: 0%;
}

.contenedor-galeria #carousel div .contenedor-card .info .titulo-tarjeta {
  text-transform: uppercase;
}

.contenedor-galeria #carousel div .contenedor-card .info .titulo-tarjeta h4 {
  font-size: 1.3rem;
}

.contenedor-galeria #carousel div .contenedor-card .info .subtitulo {
  width: 100%;
  word-wrap: break-word;
}

.contenedor-galeria #carousel div .contenedor-card .info .promocion {
  font-weight: 600;
  width: 100%;
  word-wrap: break-word;
}

.contenedor-galeria #carousel div .contenedor-card .info .btn-outline-success {
  margin-top: 5%;
  width: 80%;
  background-color: none;
  border-radius: 30px;
}

@media screen and (min-width: 280px) and (max-width: 768px) {
  .contenedor-galeria h3 {
    margin-top: 1%;
    margin-left: 5%;
  }
  .contenedor-galeria #carousel div {
    display: inline-block;
    width: 99%;
    margin-right: 1%;
  }
  .contenedor-galeria #carousel div .contenedor-card .info .titulo-tarjeta {
    text-transform: uppercase;
    font-size: 1.2rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* applied to lg also */
  .contenedor-galeria {
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .contenedor-galeria #carousel div {
    display: inline-block;
    width: 40%;
    margin-right: 1%;
  }
}
/*# sourceMappingURL=galeria.component.css.map */