<app-discount-dialog
  *ngIf="showModal"
  [data]="discount"
  (closeModal)="showingModal(null)"
></app-discount-dialog>
<!-- <i class="btn-filtros fa-solid fa-plus"(click)="showingModal(null)" placement="right" ngbTooltip="Nueva Categoria"></i> -->
<button type="button" class="btn-admin btn btn-danger" (click)="showingModal(null)"  ><p>+ Descuento</p></button>
<div class="card">
  <div class="modal-header">
    <h3 class="modal-title">Tus Descuentos</h3>
  </div>
  <table class="table">
    <thead> 
      <tr>
        <th scope="col">Identificador</th>
        <th scope="col">Porcentaje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of discounts">
        <td>{{c.DiscountId}}</td>
        <td>% {{c.Amount}}</td>
        <td><i class="fa-sharp fa-solid fa-pencil" (click)="showingModal(c)" style="cursor:pointer" ></i></td>
        <td><i class="fa-sharp fa-solid fa-trash" (click)="delete(c.DiscountId)" style="cursor:pointer" ></i></td>
      </tr>
    </tbody>
  </table>
</div>
