<app-cabecera-matizo></app-cabecera-matizo>
  <div class="conteiner2" >
    <div class="card">
      <div class="modal-header">
        <a [routerLink]="['/colores']"><i class="fa fa-window-close" aria-hidden="true" ></i></a>
      </div>
      <div class="card-body" >
          <h2>Bienvenido</h2>
          <form *ngIf="!authService.IsLogin();else logout">
            <div class="form-group">
              <label for="username">User</label>
              <input type="user" #username  class="form-control" id="username" aria-describedby="username" 
              maxlength="11" minlength="11" type="text" pattern="[a-z]"
              placeholder="Ingrese usuario">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" #password  class="form-control" id="password" 
              maxlength="10" minlength="10" type="text" pattern="[a-z]{4,7}"
              placeholder="Password">
            </div>
            <div class="actions">
              <button (click)="login(username.value, password.value)"  type="button" class="btn btn-info"  data-dismiss="modal">Ingresar</button>
              <p>{{mensajerror}}</p>
            </div>
          
          </form>
          <ng-template #logout class="modal-footer">
            <div class="btnPanel" >
              <button (click)="logOut()"  type="button" class="btn btn-danger"  data-dismiss="modal">Salir</button>
              <button [routerLink]="['/productos/lista-productos']"   type="button" class="btn btn-success"  data-dismiss="modal">Panel</button>
            </div>  
          </ng-template> 
      </div>
    </div>
</div>







             
            

