@import '../../shared/styles/tipografias.scss';

.navNav{
  position: static;
  width: 100%;
  background-color: white;
  a{
    text-decoration: none;
    h1{
      margin-left: 5%;
    }
    h1:hover{
      font-weight: 600;
    }
  }
      
  .menuPaginaI{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 4%;
    width: 90%;
    background-color: white;
      a {
          font-size: 1rem;
          color: black;
          display: inline-block;
          text-align: center;
          text-decoration: none;
          margin-left: 7%;
          margin-top: 2%;
      }
  }
  .nav-Secundario{
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
    width: 90%;
  }
  .conteiner1{
    width: 0%;
    background: none;
    .buttonsLaterales{
        display: none;
        position: fixed;
        bottom: 95px;
        right: 15px;
        display: flex;
        flex-direction: column;
        z-index: 99;
        justify-content: space-around;
        .number{
          display: none;
          background-color: crimson;
          border-radius: 5px;
          width: 15px;
          text-align: center;
          color: white;
        }      
        .fa-shopping-cart{
          display: none;
          bottom: 10%;
          color: $verde;
          font-size: 30px;
          width: 45px;
          height: 45px;
          padding: 10px 10px 10px 10px;
          background-color: white;
          cursor: pointer;
          border-radius: 10px ;
        }   
    }
 }


}

@media only screen  
and (min-width : 670px)  
and (max-width : 1180px) { 
  .navNav{
    height: 15%;
    position: static;
    width: 100%;
    background-color: white;
    padding: 1%;
    hr{
        width: 100%;
    }
    div.scrollmenu {
        overflow: auto;
        white-space: nowrap;
        width: 90%;
      }
      .nav-Secundario{
        display: flex;
        flex-direction: row;
        overflow: auto;
        white-space: nowrap;
        width: 90%;
      }
      .conteiner1{
        background: block;
        .buttonsLaterales{
            display: block;
            .number{
              display: block;
            }      
            .fa-shopping-cart{
              display: block;
              right: 10px;
              bottom: 5%;
            }   
        }
     }
  }
}
@media (max-width : 780px) {  

  .navNav{
    
    height: 15%;
    position: static;
    width: 100%;
    background-color: white;
    padding: 1%;
    padding-top: 12px !important;

    hr{
        width: 100%;
    }
    div.scrollmenu {
        overflow: auto;
        white-space: nowrap;
        width: 90%;
      }
      .nav-Secundario{
        display: flex;
        flex-direction: row;
        overflow: auto;
        white-space: nowrap;
        width: 90%;
      }
      .conteiner1{
        background: block;
        .buttonsLaterales{
            display: block;
            .number{
              display: block;
            }      
            .fa-shopping-cart{
              display: block;
              right: 10px;
              bottom: 200px;
            }   
        }
     }

  }
}

