.card{
    width: 80%;
    height: 50%;
    padding: 2%;
    margin: auto;
    .btn-close{
        width: 40px;
        height: 40px;
        padding: 5px;
    }
}

.itemPhoto{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
    .btn-images{
        display: flex; flex-direction:row;
        text-align: center;
        margin: auto;
    }
    .viewImg{
        max-width: 100%;
       height: auto;
       margin-bottom: 5%;
    }
    .fa-solid {
        font-size: 20px;
        cursor: pointer;
    }
}
.images{
    margin-bottom: 10%;
    margin-top: 10%;
}


@media only screen and (max-width: 600px) and (min-width: 200px) {
    .card{
        width: 100% !important;
        height: 50%;
        padding: 2%;
        margin: auto;
        .btn-close{
            width: 40px;
            height: 40px;
            padding: 5px;
        }
    }
}