<app-category-dialog
  *ngIf="showModal"
  [data]="category"
  (closeModal)="showingModal(null)"
></app-category-dialog>
<!-- <i class="btn-filtros fa-solid fa-plus"(click)="showingModal(null)" placement="right" ngbTooltip="Nueva Categoria"></i> -->
<button type="button" class="btn-admin btn btn-danger" (click)="showingModal(null)"  ><p>+ categoria</p></button>
<div class="card">
  <div class="modal-header">
    <h3 class="modal-title">Tus categorias</h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="id" scope="col">Identificados</th>
        <th scope="col">Nombre de la Categoria</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of categories">
        <td class="id">{{c.CategoryId}}</td>
        <td>{{c.Name}}</td>
        <td><i class="fa-sharp fa-solid fa-pencil" (click)="showingModal(c)" style="cursor:pointer" ></i></td>
        <td><i class="fa-sharp fa-solid fa-trash" (click)="delete(c.CategoryId)" style="cursor:pointer" ></i></td>
      </tr>
    </tbody>
  </table>
</div>
