
<button *ngIf="isLogin()" type="button" class="btn-admin btn btn-danger" [routerLink]="['/productos/formulario']" >+ Producto</button>
<button (click)="showFilters()" type="button" class="btn btn-danger" ><p>Filtros</p></button>

<!--ImageModel-->
<app-image-dialog
*ngIf="hiddeModal"
[productIdToModel]="productIdToModel"
(close)="procesImages($event)"
></app-image-dialog>
<!--Filtros -->
<div class="product_base">        
        <div clas="products_left">
                <!--Filtros-->
                <form action="" #myForm="ngForm" >
                      <div  class="filters" data-aos="slide-right" [style.display]="show ? 'block' : 'none'">
                              <div class="input-group">
                                      <div class="form-check" >
                                              <input class="form-check-input" type="checkbox" name="Discount" 
                                              id="Discount" [(ngModel)]= "filter.Discount">
                                              <label  for="Discount">
                                                      Con descuentos!
                                              </label>
                                      </div>
                              </div>
                              <div class="input-group">
                                      <div class="form-check">
                                              <input class="form-check-input" type="checkbox" name="Featured" 
                                              id="Featured" [(ngModel)]= "filter.Featured" >
                                              <label  for="Featured">
                                                      Destacados
                                              </label>
                                      </div>
                              </div>
                              <div class="input-group">
                                      <div class="form-check">
                                              <input class="form-check-input" type="checkbox" name="Stock" 
                                              id="Stock" [(ngModel)]= "filter.Stock" >
                                              <label for="Stock">
                                                      Disponibles
                                              </label>
                                      </div>
                              </div>
                              <hr>
      
                              <div class="input-group">
                                      <select class="custom-select"  name="CategoryId"  [(ngModel)]= "filter.CategoryId" (change)="setMarca()" >
                                              <option [value]="null" selected="selected">Categorias</option>
                                              <option  *ngFor="let c of categories" [value]="c.CategoryId">{{c.Name}}</option>
                                      </select>
                              </div>
                              <div class="input-group">
                                      <select class="custom-select" name="MarcaId"  [(ngModel)]= "filter.MarcaId" (change)="setCategory()">
                                              <option [value]="null" >Marcas</option>
                                              <option  *ngFor="let m of marcas" [value]="m.MarcaId">{{m.Name}}</option>
                                      </select>
                              </div>
                              <div class="input-group">
                                      <select class="custom-select" #order (change)="setOrder(order.value)" >
                                              <option selected>Oredanr por</option>
                                              <option value="1">Precio: Menor a mayor</option>
                                              <option value="2">Precio: Mayor a menor</option>
                                              <option value="3">A-Z</option>
                                              <option value="4">Z-A</option>
                                      </select>
                              </div>
                              
                      </div> 
                </form>         
        </div>      
         <div class="products_rigth"  >                      
                <div class="productCard_rightSide" *ngFor="let p of products " >
                    <span *ngIf="p.DiscountAmount!=null"  class="block_specification__text" style="color: #f1425d; margin-right:5px;">{{p.DiscountAmount}} % OFF</span>
                    <div *ngIf="p.Featured" class="block_specification__informationShow hide" style="text-align: right; margin-bottom: 3%;">
                        <i class="fa-sharp fa-solid fa-star block_specification__button block_specification__button__jump"
                        aria-hidden="true" style="color: rgb(204, 255, 0); margin-right:5px;"></i>
                    </div>
                    <div class="sliderBlock_items__itemPhoto ">
                            <img *ngIf="p.ImageName != ''" [src]="'assets/' +  p.ImageName">
                            <img *ngIf="p.ImageName == ''" src="assets/camara.png">
                    </div>                                                             
                    <div class="block_product">
                        <p class="block_model"><span style="font-size:0.7rem" class="block_model__number">Categoria {{p.CategoryName}}</span></p>
                        <p class="block_model"><span class="block_model__number">{{p.MarcaName}}</span></p>
                        <h2 class="block_name block_name__mainName">{{p.Name}}<sup>&reg; </sup></h2>
                         <!-- <h2 class="block_name block_name__addName">{{p.Description}}</h2>       -->
                        <div class="block_price" >
                          <p *ngIf="p.DiscountAmount==null"  class="block_price__currency">$ {{p.Price}}</p>
                          <div class="prices" *ngIf="p.DiscountAmount!=null">
                             <p  class="block_price__currency" style="text-decoration:line-through;">$ {{p.Price}}</p>
                             <p  class="block_price__currency" style="color:black"> $ {{p.PriceWithDiscount}}</p>
                          </div>
                        </div>
                        <div *ngIf="!isLogin() && p.Stock">
                                <button 
                                style="background-color: #FF6A6A;color: white;border: none;" 
                                class="btn btn-info" (click)="addToCar(p)">Agregar
                                </button> 
                        </div>

                        <div class="btns-edit-prod" *ngIf="isLogin()" >
                                <button class="btn btn-success" (click)="edit(p.ProductId)" 
                                [routerLink]="['/productos/formulario']">
                                <i class="fa fa-pencil"></i>
                                </button> 
                                <button class="btn btn-success" (click)="procesImages(p.ProductId)">
                                        <i class="fa fa-camera"></i>
                                </button> 
                                <button class="btn btn-danger" (click)="eliminar(p.ProductId)">
                                        <i class="fa fa-trash"></i>
                                </button> 
                        </div>                                       
                    </div>
                    <p *ngIf="!p.Stock" class="block_model agotado" style="text-align:center;"><span  class="block_model__number">AGOTADO!</span></p>

                </div>
                <br>
        </div>    
</div>

