<!--Nav Adm Product-->
<div style="display: flex; flex-direction: row;">
        <button class="btn-admin btn btn-danger" *ngIf="isLogin()" type="button"  [routerLink]="['/productos/formulario']" >+ Producto</button>
        <button class="btn-admin btn btn-danger" style ="margin-left: 15px;" type="button"  (click)="show_ChangePrice()">% Precio</button>
        <div *ngIf="showChangePrice" class="bloque1">
                <input #pricePercent    maxlength="20" class="form-control" placeholder="Monto a aumentar %"
                  type="number"  step=0.1 requerid >
                <button class="addPrice"><p (click)="changePrice(pricePercent.value)" type="submit" ><i style="
                        color:green" class="fa-sharp fa-solid fa-check"></i></p></button>
        </div>
</div>
<button (click)="showFilters()" type="button" class="btn btn-danger" ><p>Filtros</p></button>
<!--ImageModel New Product-->
<app-image-dialog *ngIf="hiddeModal" [productIdToModel]="productIdToModel" (close)="procesImages($event)" ></app-image-dialog>
<app-productView *ngIf="hiddeModalViewProduct" [productIdToModel]="productIdToModel" (close)="viewProduct($event)"></app-productView>

<!--Contenedor -->
<div class="product_base"> 
        <!--Filtros-->       
        <div clas="products_left filters" [style.display]="show ? 'block' : 'none'">       
                <form action="" #myForm="ngForm" >
                      <div data-aos="slide-right">
                        <div class="input-group">
                                <div class="input-group" >
                                        <input min="3" class="form-control" type="text" name="search"  placeholder="Buscar"
                                        id="search" [(ngModel)]= "filter.Search" (ngModelChange)="changeFilter()">
                                        <div class="input-group-append" (click)="clear()">
                                            <span class="input-group-text" style="background-color: gray; color: white;" >X</span>
                                        </div>
                                </div>
                        </div>
                              <div class="input-group">
                                      <div class="form-check" >
                                              <input class="form-check-input" type="checkbox" name="Discount" 
                                              id="Discount" [(ngModel)]= "filter.Discount"  (change)="changeFilter()">
                                              <label  for="Discount">
                                                      Con descuentos!
                                              </label>
                                      </div>
                              </div>
                              <div class="input-group">
                                      <div class="form-check">
                                              <input class="form-check-input" type="checkbox" name="Featured" 
                                              id="Featured" [(ngModel)]= "filter.Featured"  (change)="changeFilter()" >
                                              <label  for="Featured">
                                                      Destacados
                                              </label>
                                      </div>
                              </div>
                              <div class="input-group">
                                      <div class="form-check">
                                              <input class="form-check-input" type="checkbox" name="Stock" 
                                              id="Stock" [(ngModel)]= "filter.Stock"  (change)="changeFilter()" >
                                              <label for="Stock">
                                                      Disponibles
                                              </label>
                                      </div>
                              </div>
                              <hr>                                                               
                      </div> 
                </form>     
                <div class="input-group">
                        <select class="custom-select"  name="CategoryId"  [(ngModel)]= "filter.CategoryId" (change)="setHeaderCategory()" >
                                <option value="null" selected="selected">Categorias</option>
                                <option  *ngFor="let c of categories" [value]="c.CategoryId">{{c.Name}}</option>
                        </select>
                </div>
                <div class="input-group">
                        <select class="custom-select" name="MarcaId"  [(ngModel)]= "filter.MarcaId" (change)="setHeaderMark()">
                                <option value="null" selected="selected">Marcas</option>
                                <option  *ngFor="let m of marcas" [value]="m.MarcaId">{{m.Name}}</option>
                        </select>
                </div>   
                <div class="input-group">
                        <select class="custom-select" #order (change)="setOrder(order.value)" >
                                <option selected>Oredanar por</option>
                                <option value="PrecioAsc">Precio: Menor a mayor</option>
                                <option value="PrecioDesc">Precio: Mayor a menor</option>
                                <option value="NameAsc">A-Z</option>
                                <option value="NameDesc">Z-A</option>
                        </select>
                </div> 
        </div>
        <!--Card Products-->      
         <div class="products_rigth" *ngIf="products.length!=0;" >                      
                <div class="productCard_rightSide" *ngFor="let p of products " >
                    <span *ngIf="p.DiscountAmount!=null"  class="block_specification__text" style="color: #f1425d; margin-right:5px;">{{p.DiscountAmount}} % OFF</span>
                    <div *ngIf="p.Featured" class="block_specification__informationShow hide" style="text-align: right; margin-bottom: 3%;">
                        <i class="fa-sharp fa-solid fa-star block_specification__button block_specification__button__jump"
                        aria-hidden="true" style="color: rgb(204, 255, 0); margin-right:5px;"></i>
                    </div>
                    <div class="sliderBlock_items__itemPhoto ">
                        <img *ngIf="p.ImageName != ''"  class="viewImg" [src]="'assets/' + p.ProductId + '/'+ p.ImageName ">
                        <img *ngIf="p.ImageName == ''" src="assets/camara.png">
                    </div>                                                             
                    <div class="block_product">
                        <p class="block_model"><span style="font-size:0.7rem; color:black" class="block_model__number">Categoria {{p.CategoryName}}</span></p>
                        <p class="block_model"><span style="font-size:0.9rem;" class="block_model__number">{{p.MarcaName}}</span></p>
                        <h2 style="margin-top: 5px;" class="block_name block_name__mainName">{{p.Name}}<sup>&reg; </sup></h2>
                         <!-- <h2 class="block_name block_name__addName">{{p.Description}}</h2>       -->
                        <div class="block_price" >
                          <p *ngIf="p.DiscountAmount==null"  class="block_price__currency">$ {{p.Price}}</p>
                          <div class="prices" *ngIf="p.DiscountAmount!=null">
                             <p  class="block_price__currency" style="text-decoration:line-through;">$ {{p.Price}}</p>
                             <p  class="block_price__currency" style="color:black"> $ {{p.PriceWithDiscount}}</p>
                          </div>
                        </div>
                        <button 
                        style="background-color: gainsboro;color: rgb(25, 25, 25);border: none;" 
                        class="btn btn-info" (click)="viewProduct(p.ProductId)">Ver
                        </button> 
                        <div *ngIf="!isLogin() && p.Stock">
                                <button 
                                style="background-color: #FF6A6A;color: white;border: none;" 
                                class="btn btn-info" (click)="addToCar(p)">Agregar
                                </button> 
                        </div>

                        <div class="btns-edit-prod" *ngIf="isLogin()" >
                                <button class="btn btn-success" (click)="edit(p.ProductId)" 
                                [routerLink]="['/productos/formulario']">
                                <i class="fa fa-pencil"></i>
                                </button> 
                                <button class="btn btn-success" (click)="procesImages(p.ProductId)">
                                        <i class="fa fa-camera"></i>
                                </button> 
                                <button class="btn btn-danger" (click)="eliminar(p.ProductId)">
                                        <i class="fa fa-trash"></i>
                                </button> 
                        </div>                                       
                    </div>
                    <p *ngIf="!p.Stock" class="block_model agotado" style="text-align:center; background-color: aliceblue; opacity: 70%;"><span  class="block_model__number">AGOTADO!</span></p>

                </div>
                <br>
        </div>   
</div>



