<!-- <div *ngIf="_servicio_metodos.publicaciones && categoriaElegida!=null ">
	<div  *ngFor="let p of _servicio_metodos.publicaciones" >
		<div class="list-card" 	*ngIf="p.id===categoriaElegida.id; ">
				<div class="foto" *ngIf="p.nombreImagen; else photo">
					<img  class="imgCard" [src]="'assets/'+_servicio_metodos.negocio.nombre_negocio + '/' + p.nombreImagen">
				</div>
				<ng-template #photo>
					<div class="foto">
						<img style="object-fit:contain" [src]="'assets/camara.png'">
					</div>
				</ng-template>
				<div class="info-derecha">
					<div class="info">
						<h3>{{p.titulo}}</h3>
						<p>{{p.subtitulo}}</p>
						<p>{{p.descripcion}}</p>
						<p class="precio" *ngIf="p.precio!=0">$ {{p.precio}}</p><br>
						<button class="btn btn-outline-success" (click)="agregarPedido(p)">
							<p>Agregar</p>
						</button>
					</div>			
				</div>
		</div>
	</div>
</div>



 -->
