@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");
* {
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tituloPrincipal {
  font-size: 3rem;
}

h1 {
  font-size: 1.6rem;
  color: #4e4e4e;
  padding: 10px 0px 0px 0px;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  font-size: 1.4rem;
  color: #505e47;
  font-weight: bold;
  letter-spacing: 0.1pc;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

p {
  margin: 0% !important;
  width: 100%;
  overflow-wrap: break-word;
}

.p-fondo {
  font-size: 1.8rem;
  color: #F5F5F5;
  font-weight: 500;
  text-transform: uppercase;
}

span {
  font-size: 1rem;
  color: #075cbd;
}

.titulo-secciones {
  color: #4e4e4e;
  font-weight: 600;
  margin-bottom: 0px;
  margin-left: 50px;
}

form label {
  font-size: 0.8rem;
}

.tituloTarjeta {
  margin-top: 5%;
  color: #a0c2c3;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
}

.subTituloTarjeta {
  margin: 0%;
  color: #4e4e4e;
  display: block;
  font-size: 1.2rem;
  text-transform: lowercase;
}

.pTarjeta {
  margin: 0%;
  width: auto;
  display: block;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-overflow: clip;
}

.estiloBotonSimple {
  font-size: 1rem;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.buttons button {
  font-size: 0.8rem;
  padding: 3%;
  display: inline-block;
  outline: 0;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #3f8cff;
  cursor: pointer;
  margin: 0px 2px 0px 1px !important;
}

.buttons button:hover {
  background-color: #f8efef;
}

.banner {
  width: 90%;
  margin: auto;
  background-color: white;
  margin-bottom: 5%;
}

.banner img {
  width: 100%;
}

.banner-100 {
  width: 100%;
  margin-bottom: 5%;
}

.banner-100 img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-50 {
  width: 47%;
  margin-bottom: 5%;
}

.banner-50 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 1024px) and (min-width: 764px) {
  .tituloTarjeta {
    margin-top: 15%;
    color: #a0c2c3;
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .subTituloTarjeta {
    margin: 0%;
    color: #4e4e4e;
    display: block;
    font-size: 1.8rem;
    text-transform: lowercase;
  }
  .pTarjeta {
    margin: 0%;
    width: auto;
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-overflow: clip;
  }
}

@media only screen and (max-width: 764px) and (min-width: 300px) {
  .tituloTarjeta {
    margin-top: 15%;
    color: #a0c2c3;
    display: block;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  .subTituloTarjeta {
    margin: 0%;
    color: #4e4e4e;
    display: block;
    font-size: 1.8rem;
    text-transform: lowercase;
  }
  .pTarjeta {
    margin: 0%;
    width: auto;
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-overflow: clip;
  }
}

.mano {
  position: fixed;
  right: 48px;
  top: 470px;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  text-align: center;
  padding: 1%;
}

.mano .fa-hand-pointer-o {
  font-size: 20px;
  color: white;
}

.list-card {
  width: 99%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2% 2% 2% 1%;
  padding: 1%;
}

.list-card .foto {
  width: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.list-card .foto .imgCard {
  padding: 5%;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.list-card .info-derecha {
  width: 100%;
  margin: auto;
  padding: 0% 0% 0% 3%;
}

.list-card .info-derecha .info {
  width: 80%;
}

.list-card .info-derecha .list-card-botones {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: right;
  margin-top: 7%;
}

.list-card .info-derecha .list-card-botones .botonAdd {
  padding: 5px;
  height: 120%;
  width: 120%;
  border: 1px solid #d1d0d0;
  margin: auto;
  background-color: white;
  display: block;
  text-align: center;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles */
  .list-card {
    width: 100%;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 3% 2% 3% 5%;
    background-color: white;
    padding: 1%;
  }
  .list-card .foto {
    width: 15%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .list-card .foto .imgCard {
    padding: 5%;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .list-card .info-derecha {
    width: 100%;
    margin-left: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .list-card .info-derecha .info {
    margin-top: 1%;
    width: 80%;
  }
  .list-card .info-derecha .list-card-botones {
    margin-top: 1% 2% 0% 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .list-card .info-derecha .list-card-botones .botonAdd {
    padding: 10px;
    height: 100%;
    border: 1px solid #d1d0d0;
    margin: 0%;
    background-color: white;
    display: block;
    text-align: center;
  }
}
/*# sourceMappingURL=list-card.component.css.map */